<div class="container job-form container-shadow">

    <h1>Add New Job Post</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <input 
          type="text" 
          class="form-control" 
          placeholder="Position Name..."
          id="positionName"
          formControlName="positionName">
            <div *ngIf="form.controls['positionName'].touched && form.controls['positionName'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['positionName'].errors?.['required']">Position Name is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Company Name..."
            id="companyName"
            formControlName="companyName">
            <div *ngIf="form.controls['companyName'].touched && form.controls['companyName'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['companyName'].errors?.['required']">Company Name is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Location..."
            id="location"
            formControlName="location">
            <div *ngIf="form.controls['location'].touched && form.controls['location'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['location'].errors?.['required']">Location is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Description..."
            id="description"
            formControlName="description">
            <div *ngIf="form.controls['description'].touched && form.controls['description'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['description'].errors?.['required']">Description is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <select class="form-select" formControlName="seniorityLevel">
                <option selected value="">Seniority Level</option>
                <option *ngFor="let seniorityLevel of seniorityLevels | keys" [value]="seniorityLevel.key">
                    {{ seniorityLevel.value }}</option>
            </select>
            <div *ngIf="form.controls['seniorityLevel'].touched && form.controls['seniorityLevel'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['seniorityLevel'].errors?.['required']">Seniority Level is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <select class="form-select" formControlName="employmentType">
                <option selected value="">Employment Type</option>
                <option *ngFor="let employmentType of employmentTypes | keys" [value]="employmentType.key">
                    {{ employmentType.value }}</option>
            </select>
            <div *ngIf="form.controls['employmentType'].touched && form.controls['employmentType'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['employmentType'].errors?.['required']">Employment Type is required.</div>
            </div>
        </div>

        <div class="mb-3">
            <select class="form-select" formControlName="industryId">
                <option selected value="" selected>Industry</option>
                <option *ngFor="let industry of industries" [value]="industry.id">
                    {{ industry.name }}</option>
            </select>
            <div *ngIf="form.controls['industryId'].touched && form.controls['industryId'].invalid" class="alert alert-danger">
                <div *ngIf="form.controls['industryId'].errors?.['required']">Industry is required.</div>
            </div>
        </div>
          
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input checkbox-color" id="isRemote" formControlName="isRemote">
            <label class="form-check-label" for="isRemote">Is Remote</label>
        </div>

        <button type="submit" class="button button-submit">Add</button>
      </form>
</div>
