<div class="container">
    <div class="card">
      <div class="card-body">
        <h1>{{ jobPost.positionName }}</h1>
        <p>{{ jobPost.companyName }}</p>
        <p>{{ jobPost.location }}</p>
        <p>{{ jobPost.description }}</p>
        <p>{{ jobPost.seniorityLevel | seniorityLevel}}</p>
        <p>{{ jobPost.employmentType | employmentType }}</p>
        <p>{{ jobPost.industryName }}</p>
        <button type="button" class="btn btn-primary" [routerLink]="['/jobposts', 'edit', jobPost.id]">Edit</button> |
        <button type="button" class="btn btn-danger" (click)="deleteJobPost(jobPost.id)">Delete</button>
      </div>
    </div>
  </div>
