<div class="container">
    <div class="card" [class.closed]="jobPost.activeStatus == '1'">
      <div class="card-body">
        <h1>{{ jobPost.positionName }}</h1>
        <a [routerLink]="['/candidates', jobPost.id]"><b>Candidates: {{ candidatesNumber }}</b></a>
        <p>{{ jobPost.companyName }}</p>
        <p>{{ jobPost.location }}</p>
        <p>{{ jobPost.description }}</p>
        <p>{{ jobPost.seniorityLevel | seniorityLevel}}</p>
        <p>{{ jobPost.employmentType | employmentType }}</p>
        <p>{{ jobPost.industryName }}</p>
        <button 
        type="button" 
        class="button-submit" 
        [routerLink]="['/jobposts', 'edit', jobPost.id]" 
        [disabled]="jobPost.activeStatus == '1'">
        Edit</button> |
        <button 
        type="button" 
        class="button-delete" 
        (click)="deleteJobPost(jobPost.id)" 
        [disabled]="jobPost.activeStatus == '1'">
        Delete</button>
      </div>
    </div>
  </div>
