<div class="container" *ngIf="candidates && candidates.length > 0">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        <div class="col mb-4" *ngFor="let candidate of candidates">
            <div class="card">
                <div class="col-md-4">
                <img src="assets\images\user.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ candidate.firstName }} {{ candidate.lastName }}</h5>
                        <h6 class="card-text"><b>Email:</b> {{ candidate.email }}</h6>
                        <p class="card-text"><b>Phone:</b> {{ candidate.phone }}</p>
                        <p class="card-text"><b>Experience:</b> {{ candidate.yearsOfExperience }} years</p>
                        <p class="card-text"><b>Message:</b> {{ candidate.message }}</p>
                        <p class="card-text"><small class="text-body-secondary"><b>Applied on:</b> {{ candidate.dateOfApplication | date }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


