<div class="container" *ngIf="jobPosts && jobPosts.length > 0">
  <div class="card" *ngFor="let jobPost of jobPosts">
    <div class="card-body" [class.closed]="jobPost.activeStatus == '1'">
      <h1>{{ jobPost.positionName }}</h1>
      <p>{{ jobPost.companyName }}</p>
      <p>{{ jobPost.location }}</p>
      <p>{{ jobPost.seniorityLevel | seniorityLevel }}</p>
      <button type="button" class="btn btn-primary" [routerLink]="['/jobposts', 'details', jobPost.id]">View</button> |
      <button type="button" class="btn btn-primary" [routerLink]="['/jobapply', jobPost.id]" [disabled]="jobPost.activeStatus == '1'">Apply</button>
    </div>
  </div>
</div>

<div class="container" *ngIf="!jobPosts || jobPosts.length <= 0">
  <div class="card no-records">
    <p>No Job Posts Found</p>
  </div>
</div>