<div class="container" *ngIf="jobPosts && jobPosts.length > 0">
  <div class="row row-cols-1 row-cols-md-3 justify-content-center">
    <div class="col mb-4" *ngFor="let jobPost of jobPosts">
      <div class="card">
        <div [class.closed]="jobPost.activeStatus == '1'">
          <h5 class="card-header">{{ jobPost.positionName }}</h5>
          <div class="card-body">
            <h6 class="card-title">{{ jobPost.companyName }}</h6>
            <p class="card-text">{{ jobPost.location }}</p>
            <p class="card-text">{{ jobPost.seniorityLevel | seniorityLevel }}</p>
            <button type="button" class="button button-submit" [routerLink]="['/jobposts', 'details', jobPost.id]">View</button> |
            <button type="button" class="button button-submit" [routerLink]="['/jobapply', jobPost.id]" [disabled]="jobPost.activeStatus == '1'">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!jobPosts || jobPosts.length <= 0">
  <div class="row justify-content-center">
    <div class="no-records">
      <p>No Job Posts Found</p>
    </div>
  </div>
</div>


